extends layout

block layout-content
    footer.footer-div
        .social 
            a(href="#")
                i.icon-social-instagram
        div.services
            a.nav( aria-current="page" href="/") Home
            a.nav( href="/Blog") Blog
            a.nav( href="/Courses") Courses
            a.nav( href="/contact") Contact Us