extends layout
block layout-content
    h1 What’s your goal?
    div.View
        h3 
            a(href="") Build a career
    div.View
        h3 
            a(href="") Gain a skill?
    div.View
        h3 
            a(href="") learn a language
        
    div.View
        h3 
            a(href="") Explore a subject
        