extends layout

block layout-content
  include navBar
  .welcome 
    h1 Knowledge, curiosity, understanding.
    p. 
      We help millions of people worldwide unlock their potential. Our qualifications, assessments, academic publications and original research spread knowledge, 
      spark curiosity and aid understanding around the world.
  div.View
    div.Message
      img(src="https://www.cambridge.org/sites/default/files/styles/16_9_large/public/media/images/english-language-learning_0.jpg?itok=efiulnZ8")
      div.Title
        h3 English Language Learning
      span.Details  Teaching and learning materials for English language learners.
      a(href="") Learn more
    div.Message
      img(src="https://www.cambridge.org/sites/default/files/styles/16_9_large/public/media/images/cambridge-assessment-english.jpg?itok=5tZG06tQ")
      div.Title
        h3 Our Academy Assessment English
      span.Details  Exams and qualifications for learners and teachers of English.
      a(href="") Learn more
    div.Message
      img(src="https://www.cambridge.org/sites/default/files/styles/16_9_large/public/media/images/education-resources-for-schools.jpg?itok=iclLz-pr")
      div.Title
        h3 Educational Resources for Schools
      span.Details  Print and digital books, guides, and services for teachers and learners worldwide.
      a(href="") Learn more
  include goal    
  div.NavButtons
    a(href="/signUp")
      div.NavButton Just Join Us!
  include footer 
  