nav.navbar 
    a.navbar-brand(href="/") Our Academy 
    div.navbar-nav
        a.nav-link( aria-current="page" href="/") Home
        a.nav-link( href="/Blog") Blog
        a.nav-link( href="/Courses") Courses
        a.nav-link( href="/SignIn") Sign in
        a.nav-link( href="/contact") Contact Us